{
	email {$CADDY_ACME_EMAIL}
}

{$TENANT_HOST} {
	encode zstd gzip
	@static path /_next/static/* /favicon.ico /icons/* /sw.js
	header @static Cache-Control "public, max-age=31536000, immutable"

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "usb=(self)"
	}

	reverse_proxy web:3000 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto https
	}
}

{$ADMIN_HOST} {
	encode zstd gzip
	@static path /_next/static/* /favicon.ico
	header @static Cache-Control "public, max-age=31536000, immutable"

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy admin:3001 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto https
	}
}

{$API_HOST} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	request_body {
		max_size 10MB
	}

	reverse_proxy api:4000 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto https
	}
}
